.btn {
  width: 150px;
  height: 30px;
  background-color: #3b479d;
  border: none;
  color: aliceblue;
  font-weight: bold;
  text-align: center;
  margin-left: 750px;
}

.nextBtn {
  margin-top: -500px;
  margin-left: 1150px;
  width: 50px;
  text-align: center;
}
